:root {
    --primary-color: #228b22; 
    --secondary-color: #f7f3e5; 
    --accent1-color: #483d8b; /* dark slate blue*/
    --accent2-color: #e9c466; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: Arial, Helvetica, sans-serif; 
}

header{
    width: 100%;
    padding: 10px;
    min-height: 200px;
    background-color: var(--primary-color);
    color: #000000;
    display: grid;
    grid-template-columns: 120px 2fr 1fr;
    align-items:  center;
}
header img{
    width: 100%;
    max-width: 150px;
    height: auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    max-width: 800px;
    margin: 0 auto;
}
main{
    padding: 20px;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2{
    font-family: var(--heading-font);
    color: #000000;
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.sociamedia a {
    text-decoration: none;
}

footer a{
    text-decoration: none;
}

.hero {
    position: relative;
    margin-bottom: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    font-size: 3em;
    transform: translate(-50%, -50%);
    text-align: center;text-shadow: 2px 2px 4px;
    z-index: 10;
    background-color: var(--secondary-color);
    color: #000000;
    
}

.hero article {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: var(--accent2-color);
    padding: 20px;
    margin: -50px 10% 20px 10%;
    width: 60px;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    
}

.hero article img {
    float: right;
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex-shrink: 0;
    filter: none;
}
ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
li{
    flex: 1 1 auto;
}