:root {
    --primary-color: #228b22; 
    --secondary-color: #f7f3e5; 
    --accent1-color: #483d8b; /* dark slate blue*/
    --accent2-color: #e9c466; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", "Serif"
    --body-font: Arial, Helvetica, sans-serif; 
}

header {
    background-color: var(--primary-color);
    color: #daa520
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: #006400;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.sociamedia a {
    text-decoration: none;
}

footer a{
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #b8860b;
}

.hero article {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 60px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
}